<!DOCTYPE html>
<html>
<head>
<title> Companion Robots: Automating Relationships </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>
        
    <!--Bootstrap files-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!--Custom Styles-->
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet"> 

    <script>
        /*global $*/
        $(document).ready(function(){
          
        
        }) //document.ready close
    </script>

</head>


