
<div class="container-fluid" id="nava">
    <ul class="nav navbar-nav">
        <a href="/">Home | </a> 
        <!--<a href="/mercury">Mercury | </a>  -->
        <a href="/nurse">Nursing Robots | </a>  
        <a href="/sitter">Baby Sitter Robots | </a>  
        <a href="/sexbot">Sexbots</a>  
    </ul>
</div>
<br>
<br>