<!--<!DOCTYPE html>-->
<!--<html>-->
  
<!--  <head>-->
<!--
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width">-->
<!--    <link href="/css/styles.css" rel="stylesheet" />-->
<!---->
<!--    <title> Pixabay Search (Express Version) </title>-->
    
<!--  </head>-->
  
<!--  <body>-->
    
<!--    <h1> Pixabay Search (Express Version) </h1>-->
    
<!--    <form action="/results" method="GET"> <!-- used to send info to server, everytime used the page is refreshed -->
      
<!--      Keyword: <input type="text" name="keyword">-->
<!--      <button> Search! </button>-->
    
<!--    </form> <br>-->
    
<!--    <img src='<{percent symbol}=image{percent symbol}>'>-->
    
<!--  </body>-->
  
<!--</html>-->



<% include partials/header.ejs %>  <!-- All ejs tags go within these tags -->

<body>

    <br>
    <h1> Companion Robots - Improving access to childcare, therapy, nursing, sex, friendships, teaching, and much more </h1>
    
    <% include partials/navigation.ejs %>
    
    <br>
    <figure>
      <img id="mainpics" src="/img/playgame.png" alt="join a game"/>
      <h5> This is <%= name %>, and it might let you win at scrabble if you're nice to it.</h5>
    </figure>
    <br>
   <div id="textin">
		        <p>Companion robots are the next step in the service industry</p> 
		        <p>They will play games with people, tell jokes and be entertaining, watch the game with you and cheer for your team or watch a sad movie and empathize.  
		        They will listen to how your day was and offer advice if solicited.  They will help raise children and nurse the elderly.  They will provide sexual outlets to the frustrated.  They will care for the sick without risk of being infected or spreading infection. </p>
		        <p>They will provide conversation to people in bars and clubs and casinos.  If you don't want to buy your own, they will be available to rent as babysitters, therapists, doctors, accountants, prostitutes, chefs, cleaners, plumbers, maintenance workers, or live in nurses. </p>
		        <p></p>
  </div>
    <br>
    
    <%= robby %>
    <% include partials/footer.ejs %>   

</body>

</html>