
<% include partials/header.ejs %>  <!-- All ejs tags go within these tags -->

<body>
    <% include partials/navigation.ejs %>
    <br>
    <h1> Mercury Page! </h1>
    <img src="/img/mercury.jpg" width="500" />
    <br>
    <br> The smallest planet in our solar system and nearest to the Sun, Mercury is only slightly larger than Earth's Moon. 
    <br> It emits a deadly radiation so it is unwise to be outside when this planet is in the night sky.  
    <br> Numerous people have died from this mercury poisoning. 
    <br> If the sun appears to be running out of fuel NASA has plans to nuke it into the Sun to stoke those atomic fires.
    <br>
    <br>
<% include partials/footer.ejs %>

</body>

</html>