
<% include partials/header.ejs %>


    <body>
        
        <header>
		    <h1>Our elderly deserve a better quality of life than they are getting, robots are a part of that solution</h1>
	    </header>
	    <hr />
	    
	    <% include partials/navigation.ejs %>
	    
	    <br><br>
	    <main>
	    	<div id="textin">
	    	<figure>
			    <img style="border-radius:50px" src="img/elderly.jpg" width="350" alt="friend to the edlerly" />
		    </figure>
		    <p>Life is difficult for the elderly, pain increases, mobility decreases, friends die, loneliness sets in, scammers and nursing home employees try to take advantage.  .</p> 
		    <p>Robots can provide conversations, dispense medication, provide meals, provide spongebaths, change colostomy bags, improve mood, monitor health, and attempt to prevent dishonest people from taking advantage. </p>
			</div>
		</main>
		<br>
    
        <% include partials/footer.ejs %>   
        
        
    </body>
    <!-- closing body -->

</html>