<% include partials/header.ejs %>  <!-- All ejs tags go within these tags -->

<body>
    <br> 
        <header>
		    <h1>Sex robots - an end to sexual frustrations for women and men, bringers of sexual equality without risk </h1>
	    </header>
	    <hr />
	    
	    <% include partials/navigation.ejs %>
	    
	    <br><br>
	    <main><!--inline style-->
	        
		    <figure>
			    
			    <img style="border-radius:50px" src="img/mansex.jpg" width="350" alt="male sexbots always deliver" />
			    <img style="border-radius:50px" src="img/femsex.jpg" width="350" alt="female sexbots learn from the best" />
		    </figure>
		    <div id="textin">
		        
		        <p>Shockingly, 10-15% of adult women have never had an orgasm.  While I have helped a few to have their first, I am currently taken</p>
		        <p>Not every woman gets to have a Shaun Kallis&copy; in her lifetime.  This tradgic inequality can be addressed through robitic clones of Shaun Kallis&copy;</p>
		        <p>For the lonely and those who are looking for new heights of sexual pleasure!</p> 
		        <p>These robots will learn and remember exactly what works for you and will use data on pleasuring accumulated anonamously from millions of users to create mindblowing experiences.  They will actively listen in fun and deep conversations, give massages, are always turned on by you, and do whatever you need to get results. </p>
		        <p>There is never a risk of pregnancy or disease.  After each sexual use the robot will disinfect itself.  If it belongs to you it will never cheat on you.  </p> 
                <p>For women, personalities, conversational patterns and other features from favorite romance novels, movies, and of course Shaun Kallis&copy; himself, can be applied to the robot to create a fulfilling, romantic, intense, enchanting, breathtaking, passionate, steamy, sexy, cocky, tender, captivating, rough, tense, and heart-filled experience.  Just like with the real Shaun Kallis&copy;! </p>
                <p>For men, personalities, voices, moans and movements from favorite actresses or pornstars can be incorporated.</p>
                <p></p>
                
		    </div>
		    <sub>According to <a href="https://www.cnet.com/news/abyss-creations-ai-sex-robots-headed-to-your-bed-and-heart"<cite>Dawn of the sexbots</cite> />talking sexdolls are already a reality.
		    </sub>
        </main>
        
        <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
        <br>
    
        <% include partials/footer.ejs %> 
        
    </body>
    <!-- closing body -->

</html>