
<% include partials/header.ejs %>
    
    <body>
        
        <header>
		    <h1>The cost of childcare is out of control, robots can bring down the cost, be more responsible, and free up time.</h1>
	    </header>
	    <hr />
	    
	    <% include partials/navigation.ejs %>
	    
	    <br><br>
	    <main><!--inline style-->
	        
		    <figure>
			    <img style="border-radius:50px" src="img/babychange.jpg" width="350" alt="Diaper changer" />
			    <img style="border-radius:50px" src="img/benderbaby.jpg" width="350" alt="Robots watching the young" />
		    </figure>
		    <div id="textin">
		        <p></p>Everyone needs a babysitter from time to time and no-one likes changing diapers, that's why childcare robots are the wave of the future</p> 
		        <p>They can monitor the child's vitals and movements at all times, they are never sick, never get distracted by a lover or social media, can clean, cook, sing, entertain, and respond to emergency situations. </p>
		        <p></p>
		        
                <p></p>
                
                
		    </div>
		    
        </main>
        
        <br>
    
        <% include partials/footer.ejs %>   
        
    </body>
    <!-- closing body -->

</html>