body{
    text-align:center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color:white;
    background-image: url("../img/botback.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    text-shadow: 1px 1px 1px black, 
                -1px 1px 1px black,
                1px -1px 1px black;
}

#textbox{
    border: solid 5px green;
    background: linear-gradient(red, yellow);
}

.jumbotron {
    background-color:#edf2f9;
    color:white;
}

h1 {
    color:yellow;
    background-color:black;
    margin-left: 20px;
    font-family: 'Pacifico', cursive;
}

#nava {
    padding: 20px;
    color:green;
    box-shadow: 5px 5px 10px #999;
}

html {
  height: 100%;
}

#mainpics {
    border-radius: 50px;
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

footer {
    float:right;
    text-align: right;
    display:flex;
    right:0px;
    background-image: url("../img/space2Db.jpg");
    padding: 20px;
    width: 45%;
    margin: auto;
    margin: 25px auto;
    /*text-shadow: 1px 1px 1px black, */
    /*            -1px 1px 1px black,*/
    /*            1px -1px 1px black;*/
}
